nav.navbar {
	padding: 0;
}

.search{
	padding: 5px 14px;
    border: 1px solid #000;
    width: 250px;
}
.w-160{
	width: 160px;
}

img.avatar{
	border-radius: 20px;
	width: 30px;
    height: 30px;
    margin: 0 10px;
}

div.mails-container{
	min-height: 600px;
	overflow: auto;
}

.main-container{
	border: 1px solid #000;
	padding-top: 10px;
}

.b-b-1-solid{
	border-bottom: 1px solid #000;
}

.b-r-1-solid{
	border-right: 1px solid #000;
}

.p-t-10{
	padding-top: 10px;
}

.p-b-10{
	padding-bottom: 10px;
}

.m-t-10{
	margin-top: 10px !important;
}

.m-r-10{
	margin-right: 10px !important;
}

.card-list-wrapper .card{
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    cursor: pointer;
    height: 70px;
}

.card-list-wrapper .card:hover{
	background-color: lightgrey;
}

.card-list-wrapper .card-body{
	padding: 0.5rem 1.25rem;
}

.card-list-wrapper .card-title{
	margin-bottom: 0.25rem;
}

.card-list-wrapper .card-text{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}